{% extends 'base.html.twig' %}

{% block title %}{{controller_name}}{% endblock %}

{% block body %}
<h1>{{ controller_name }}</h1>

{% form_theme editWorkTimeForm 'bootstrap_4_layout.html.twig' %}
{{form_start(editWorkTimeForm)}}
    {{form_row(editWorkTimeForm.user)}}
    {{form_row(editWorkTimeForm.project)}}
    {{form_row(editWorkTimeForm.employ)}}
    {{form_row(editWorkTimeForm.work_date)}}
    {{form_row(editWorkTimeForm.work_time)}}
    {{form_row(editWorkTimeForm.cost_hour)}}
    {{form_widget(editWorkTimeForm.edit)}}
{{form_end(editWorkTimeForm)}}

{% endblock %}