<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
            {% block stylesheets %}
    <style>
      body {
        font-family: DejaVu Sans;
        font-size: 8px;
      }
      table {
          border-collapse: collapse;
          width: 100%;
      }
      <style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
        </style>
        {% endblock %}

    </head>
    <body>

 <script type="text/php">
        if ( isset($pdf) ) {
            $x = 540;
            $y = 814;
            $text = "{PAGE_NUM} / {PAGE_COUNT}";
            $font = $fontMetrics->get_font("DejaVu Sans", "normal");
            $size = 8;
            $color = array(0,0,0);
            $word_space = 0.0;  //  default
            $char_space = 0.0;  //  default
            $angle = 0.0;   //  default
            $pdf->page_text($x, $y, $text, $font, $size, $color, $word_space, $char_space, $angle);
        }
    </script>

<h1>{{ title }}</h1>
<h3>Nazwa projektu: {{projectName}}</h3>
<h3>Zakres dat: {{dateStart}} - {{dateEnd}}</h3>
<h2 class="mt-3">Podsumowanie</h2>
        <table id="customers" class="table">
          <thead>
            <tr>
              <th scope="col">Imię i Nazwisko</th>
              <th scope="col">Suma przepracowanych godzin</th>
              <th scope="col">Suma czasu dojazdu</th>
              <th scope="col">Koszt pracy</th>
            </tr>
          </thead>
          <tbody>
          {% for rowResultSum in resultReportSum %}
          <tr>
              <td>{{rowResultSum.first_name}} {{rowResultSum.last_name}}</td>
              <td>{{rowResultSum.sum_work_time}}</td>
              <td>{{rowResultSum.sum_travel_time}}</td>
              <td>{{rowResultSum.sum_cost}}</td>
            </tr>
          {% endfor %}
          <tr>
              <td><strong>RAZEM</strong></td>
              <td><strong>{{resultTotal.0.total_sum_work_time}}</strong></td>
              <td><strong>{{resultTotal.0.total_sum_travel_time}}</strong></td>
              <td><strong>{{resultTotal.0.total_sum_work_cost}}</strong></td>
            </tr>
          </tbody>
        </table>

<h2 class="mt-3">Ilość przepracowanych godzin</h2>
<div class="table-responsive">
        <table id="customers" class="table">
          <thead>
            <tr>
              <th scope="col">Data</th>
              <th scope="col">Imię i Nazwisko</th>
              <th scope="col">Godz. rozp.</th>
              <th scope="col">Godz. zak.</th>
              <th scope="col">Czas pracy</th>
              <th scope="col">Czas doj.</th>
              <th scope="col">Koszt pracy</th>
            </tr>
          </thead>
          <tbody>
          {% for rowResultDay in resultReportDays %}
          <tr>
              <td>{{rowResultDay.work_date}}</td>
              <td>{{rowResultDay.first_name}} {{rowResultDay.last_name}}</td>
              <td>{{rowResultDay.work_start}}</td>
              <td>{{rowResultDay.work_end}}</td>
              <td>{{rowResultDay.work_time}}</td>
              <td>{{rowResultDay.travel_time}}</td>
              <td>{{rowResultDay.sum_cost}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </body>
</html>