{% extends 'base.html.twig' %}

{% block title %}{{controller_name}}{% endblock %}

{% block body %}
<h1>{{ controller_name }} dla {{ user.firstName }} {{ user.lastName }}</h1>

{% form_theme addUserQualificationForm 'bootstrap_4_layout.html.twig' %}
{{form_start(addUserQualificationForm)}}
    {{form_row(addUserQualificationForm.qualification)}}
    {{form_row(addUserQualificationForm.type)}}
    {{form_row(addUserQualificationForm.date_start)}}
    {{form_row(addUserQualificationForm.date_end)}}
    {{form_row(addUserQualificationForm.link)}}
    <div class="invisible">
    {{form_widget(addUserQualificationForm.active, {'attr' : {'checked' : 'checked'}})}}
    </div>
    <button type="submit" class="btn btn-primary mt-3">Dodaj</button>
{{form_end(addUserQualificationForm)}}

{% endblock %}