{% extends 'base.html.twig' %}

{% block title %}{{controller_name}}{% endblock %}

{% block body %}
<div class="mt-5">
{% form_theme userQualificationForm 'bootstrap_4_layout.html.twig' %}
{{form_start(userQualificationForm)}}
    {{form_row(userQualificationForm.qualification)}}
    {{form_row(userQualificationForm.type)}}
    {{form_row(userQualificationForm.date_start)}}
    {{form_row(userQualificationForm.date_end)}}
    {{form_row(userQualificationForm.link)}}
    {{form_widget(userQualificationForm.edit)}}
    {{form_widget(userQualificationForm.remove)}}
        <div class="invisible">
    {{form_row(userQualificationForm.active)}}
    </div>
{{form_end(userQualificationForm)}}
</div>
{% endblock %}