{% extends 'base.html.twig' %}

{% block title %}{{controller_name}}{% endblock %}

{% block body %}
<h1>{{ controller_name }}</h1>

{% form_theme addEmployForm 'bootstrap_4_layout.html.twig' %}
{{form_start(addEmployForm)}}
    {{form_row(addEmployForm.name)}}
    {{form_row(addEmployForm.active)}}
    <button type="submit" class="btn btn-primary mt-3">Popraw</button>
{{form_end(addEmployForm)}}

{% endblock %}