<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/dashboard.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/bootstrap-datepicker.min.css') }}" rel="stylesheet">
                <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
        {% endblock %}
    </head>
    <body>

    <header class="navbar navbar-dark sticky-top bg-success flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href='/'>Elbitech - Inwestycje</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  {# <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  #}
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
    {% if app.user %}
      <a class="nav-link px-3" href="{{ path('app_logout')}}"><strong>Wyloguj</strong></a>
    {% else %}
      <a class="nav-link px-3" href="{{ path('app_login')}}"><strong>Zaloguj</strong></a>
    {% endif %}
    </div>
  </div>
</header>

{% if app.user %}
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href={{path("app_work_time")}}>
              <span data-feather="clock"></span>
              Dodaj czas
            </a>
          </li>
          <ul class="nav-item">
          <span data-feather="layers"></span>
          Raporty
            <li class="nav-item">
            <a class="nav-link" href={{path("app_report_user_date")}}>
              <span data-feather="layers"></span>
              Pracownik
            </a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href={{path("app_report_project_date")}}>
              <span data-feather="layers"></span>
              Projekt
            </a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href={{path("app_report_employ_date")}}>
              <span data-feather="layers"></span>
              Sposób zatrudnienia
            </a>
          </li>
          </ul>
          <li class="nav-item">
            <a class="nav-link" href={{path("app_projects")}}>
              <span data-feather="package"></span>
              Projekty
            </a>
          </li>
          {% if is_granted('ROLE_ADMIN') %}
          <li class="nav-item">
            <a class="nav-link" href={{path("app_user")}}>
              <span data-feather="users"></span>
              Użytkownicy
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </div>
</div>
{% endif %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  {% for message in app.flashes('success') %}
    <div class="alert alert-success alert-dismissible">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

  {% for message in app.flashes('error') %}
    <div class="alert alert-danger alert-dismissible">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}

  {% for message in app.flashes('warning') %}
    <div class="alert alert-warning alert-dismissible">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}

         {% block body %}{% endblock %}
</main>

         {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
            <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous">
            <script src="{{ asset('assets/js/jquery-3.6.0.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/js/dashboard.js') }}"></script>
        {% endblock %}
    </body>
</html>
